.bg {
  background: #ffffff;
  padding-top: 60px;
}

.top {
  margin: 0 auto 52px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h1 {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 114.6%;
    text-align: center;
    color: #161d27;
    margin-bottom: 8px;
  }
  & p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #919191;
    margin-top: 47px;
  }
}
.successStories {
  display: flex;
  gap: 16px;
  padding-bottom: 52px;
  border-bottom: 1px solid #CBCBCB;
  & li {
    width: 33.3%;
    list-style: none;
    padding: 25px 0 25px 25px;
  }
  & li:last-child {
    background: url(../../../images/scales.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & p:not(p:first-child) {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: #ffffff;
    }
    & p:first-child {
      font-family: "Outfit";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 114.6%;
      color: #ffffff;
    }
  }
  & li:not(li:last-child) {
    display: flex;
    align-items: center;
    background: #FBFBFB;
  }
}

.textContent {
  & p:first-child {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #161d27;
  }
  & p:last-child {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #919191;
  }
}

.svgContainer {
  width: 112px;
  position: relative;
  margin-right: 18px;
  & .rotate {
    transform: rotate(-90deg);
    & .grey {
      fill: none;
      stroke: #e1e1e1;
      stroke-width: 1px;
    }
    & .blue {
      fill: none;
      stroke: #d1b06b;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-dasharray: 327px;
    }
  }
}

.svgContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  & > p {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 114.6%;
    color: #1f2732;
  }
}
